header {
  background-color: white;

  display: flex;
  align-items: center;

  border-bottom: 0.2px solid rgba(0, 0, 0, 0.24);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  position: sticky;
  top: 0;
  height: 4rem;
}

.logo img {
  width: 15rem;
  height: 3rem;
}

.logInAndRegister {
  display: flex;
  justify-content: end;
  column-gap: 1rem;
  letter-spacing: 0.05rem;
  flex-grow: 1;
  padding: 1rem 8rem 1rem 0;
}

.logIn {
  border: 0.6px solid rgb(202, 201, 201);
  border-radius: 0.3rem;
  background-color: #fff;
  color: #4688f4;
  padding: 0.8rem;
}

.register {
  border: 0.6px solid #4688f4;
  border-radius: 0.3rem;
  background-color: #4688f4;
  color: white;
  padding: 0.8rem;
  font-weight: bold;
}

.logIn:hover {
  border-color: #3d6ec9;
  background-color: rgba(250, 250, 250, 0.377);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #3d6ec9;
}

.register:hover {
  border-color: #3d6ec9;
  background-color: #3d6ec9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main {
  padding: 7rem 20rem;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12rem;
}

.overview h2 {
  font-size: 4rem;
}

.overview p {
  font-size: 1.4rem;
  color: gray;
}

.overview .info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.overview > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10rem;
}

.overview img {
  width: 600px;
}

footer {
  padding: 4.5rem 0;
  background-color: #24262b;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer > div {
  width: 33rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

footer div h3 {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
  position: relative;
}

footer div h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  background-color: #ffd04b;
  height: 0.15rem;
  box-sizing: border-box;
  width: 3rem;
}

footer div div a {
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

footer div div a:hover {
  color: #ffffff;
  padding-left: 0.5rem;
}

footer .social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

footer .social a:hover {
  color: #24262b;
  background-color: #ffffff;
  padding-left: 0;
}

.navigationBar {
  flex-grow: 1;
  display: flex;
  background-color: #4688f4;
  height: 100%;
}

.navigationBar > * {
  color: white;
}

.navigationBar > button:hover {
  background-color: #3d6ec9;
}

.navigationBar > .active {
  background-color: #457adb;
}

.navigationBar button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 0.1rem;
  padding: 1.4rem;
}

.avatar {
  background-color: #3d6ec9;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.4rem;
}

.games {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  gap: 0rem 1rem;
  background-color: #fafafc;
  border: 0.1rem solid #ebecec;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  gap: 0rem 1rem;
  background-color: #fafafc;
  border: 0.1rem solid #ebecec;
}

.searchBar {
  background-color: #fafafc;
  width: 90%;
  height: 3rem;
  border: 0.1rem solid #ebecec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createGame {
  background-color: #1fa463;
  flex-grow: 1;
  height: 3rem;
  border: 0.1rem solid #1fa463;
  border-radius: 0.3rem;
}

.createGame:hover {
  background-color: #17834f;
  border: 0.1rem solid #17834f;
}

.createTeam {
  background-color: #1fa463;
  flex-grow: 1;
  height: 3rem;
  border: 0.1rem solid #1fa463;
  border-radius: 0.3rem;
}

.createTeam:hover {
  background-color: #17834f;
  border: 0.1rem solid #17834f;
}

.results {
  width: 100%;
  height: 15rem;
  background-color: #fafafc;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafc;
  border: 0.1rem solid #ebecec;
  border-radius: 0.3rem;
  padding: 0rem 1rem;
}

main .games .results .result {
  display: grid;
  grid-template-columns: repeat(5, 2fr) 1fr;
  /* grid-template-rows: 1fr 1fr; */
}

.result:hover {
  background-color: #ebecec;
}

.result > * {
  width: 100%;
}

main .results .result button {
  background: none;
  border: none;
  border-radius: 0.1rem;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.4rem;
  background-color: #1fa463;
  color: #fafafc;
  letter-spacing: 0.05rem;
  /* width: 50%; */
}

main .results .result button:hover {
  color: #fff;
  background-color: #17834f;
}

main .teams .searchBarInput {
  background: none;
  border: none;
  font: inherit;
  padding: 0rem 0.4rem;
  letter-spacing: 0.05rem;
  height: 100%;
}

.searchBar > * {
  flex-grow: 1;
}

main .games .searchBar form {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0.1rem;
}

main .games .searchBar form > input[type="date"],
select,
button {
  background-color: #fafafc;
  padding: 0.3rem 0.2rem;
  border: 0.1rem solid #ebecec;
  border-radius: 0.1rem;
}

main .games .searchBar form button {
  background-color: #1fa463;
  color: #fff;
  border-color: #1fa463;
  padding: 0.3rem 0.5rem;
  letter-spacing: 0.05rem;
}

main .games .searchBar form button:hover {
  background-color: #17834f;
  border-color: #17834f;
}

.gameDescription {
}

.moreActions {
  grid-column: 1 / -1;
  grid-row: 2;
  /* border-top: 0.1rem solid #a1a1a1; */
}

.moreActions hr {
  border: 0;
  height: 0;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.moreActions h1 {
  font-size: 1.2rem;
}

.moreActions p {
  color: rgba(0, 0, 0, 0.801);
}
